.custom-calendar-wrap {
  margin: 0 auto;
}

.custom-content-reveal span.custom-content-close:active {
  background-color: #495468;
}

#plan-content {
  padding: 20px 30px;
  overflow: auto;
}

#plan-content ul {
  list-style-type: none;
  margin: 20px;
  /*test size*/
  font-size: 20px;
}

.rem-btn {
  /*test size*/
  font-size: 20px !important;
}

.rem-container {
  padding: 15px 15px 0 15px !important;
}

.rem-content {
  margin: 0 0 20px 0;
}

.sub-title {
  margin: 0 0 15px 0;
}
